body {
    background-color: hsl(285, 90%, 5%);
    color: white;
}
h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 8em;
    text-align: center;
    margin-bottom: 20px; /* Add margin to move it up */
}
hr {
    border: none;
    height: 1px; /* Adjust the height if needed */
    background-color: white; /* Adjust the color if needed */
    outline: 2px solid white; /* Adjust the outline color and width if needed */
}
iframe {
    border: none; /* Remove the border of the iframe */
}
h2 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 4em; /* Change font size to 4em */
    text-align: center;
}
